<div class="container">
  <header>
  <h1>Todo List</h1>
  </header>
  <div class="tasks-add">
    <form class="new-task" ng-submit="addTask()">
      <input  ng-model="m.newTaskText" 
              type="text"
              name="text"
              placeholder="Type to add new tasks"/>
    </form>
  </div>
  <div class="task-list">
  <ul ng-repeat="task in db.tasks">
    <li ng-class="{'checked': task.checked}">
      <div class="checkbox"> <input ng-model="task.checked" type="checkbox" ng-click="checkTask(task)"/></div>
      <div ng-if="!task.editing" ng-click="onEditTask(task)" class="text">{{task.text}}</div>
      <div ng-if="task.editing" class="text edit-task">
        <form ng-submit="task.editing=false">
          <input ng-model="task.text"
                  type="text"
                  ng-blur="task.editing=false"
                  ng-focus="task.editing=true"
                  name="text"/>
        </form>
      </div>
      <div class="actions"><a href="" ng-click="deleteTask(task)">delete</a></div>
    </li>
  </ul>
  </div>

  <div class="footer-details">
    {{totalCompleted()}}/{{db.tasks.length}} Tasks Completed
  </div>
</div> 